# DATA2010: Intro to Python and Anaconda

# Lecture Objectives


* Get familiar with the Anaconda and the IDE's within.
* Learn Basic syntax of Python and re-connect Python and R
* Better understading of Numpy and Pandas

# Python: the basics





Python is a general purpose programming language that supports rapid development
of scripts and applications.

Python's main advantages:

* Open Source software, supported by Python Software Foundation
* Available on all major platforms (ie. Windows, Linux and MacOS) 
* It is a general-purpose programming language, designed for readability
* Supports multiple programming paradigms ('functional', 'object oriented')
* Very large community with a rich ecosystem of third-party packages

## Interpreter

Python is an interpreted language[*](https://softwareengineering.stackexchange.com/a/24560) which can be used in two ways:

* "Interactive" Mode: It functions like an "advanced calculator", executing
  one command at a time:
* "Scripting" Mode: Executing a series of "commands" saved in text file,
  usually with a `.py` extension after the name of your file:

## Using interactive Python in Jupyter-style notebooks

A convenient and powerful way to use interactive-mode Python is via a Jupyter Notebook, or similar browser-based interface.

This particularly lends itself to data analysis since the notebook records a history of commands and shows output and graphs immediately in the browser.

There are several ways you can run a Jupyter(-style) notebook - locally installed on your computer or hosted as a service on the web. Today we will use a Jupyter notebook service provided by Google: https://colab.research.google.com (Colaboratory).

### Jupyter-style notebooks: a quick tour

Go to https://colab.research.google.com and login with your Google account.

Select ***NEW NOTEBOOK → NEW PYTHON 3 NOTEBOOK*** - a new notebook will be created.

---

Type some Python code in the top cell, eg:

---

In [2]:
print("Hello Jupyter!")

Hello Jupyter!

***Shift-Enter*** to run the contents of the cell

You can add new cells.

***Insert → Insert Code Cell***

---

NOTE: When the text on the left hand of the cell is: `In [*]` (with an asterisk rather than a number), the cell is still running. It's usually best to wait until one cell has finished running before running the next.

Let's begin writing some code in our notebook.

# Prerequisite

Check the system path and version of jupyter notebook and python

In [1]:
import sys
print(sys.executable)
print(sys.version)
print(sys.version_info)

E:\Anaconda\python.exe
3.7.11 (default, Jul 27 2021, 09:42:29) [MSC v.1916 64 bit (AMD64)]
sys.version_info(major=3, minor=7, micro=11, releaselevel='final', serial=0)

In [2]:
from platform import python_version
print(python_version())

3.7.11

### Or most simple way to check

In [3]:
!python -V

Python 3.7.11

>The exclamation/bang(!) simply means to run a conda install command.

# Comments in Python

In [6]:
# This is a single line comment
print("Hello, World!")
print("DATA2010!")

Hello, World!
DATA2010!

In [7]:
"""
This is a multiline
comment.

"""

print("Hello, World!")

Hello, World!

# Importing Libraries or Modules

In [4]:
import numpy as np 
import pandas as pd

> The Word "import" allocates the specific library installed in the environment

In [5]:
# Import the pyplot model class from matplotlib
from matplotlib import pyplot as plt

In [6]:
# We run this to suppress various deprecation warnings and keeps our notebook cleaner
import warnings
warnings.filterwarnings('ignore')

# Basic Data Structures

### Numbers

#### Types of numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.



| Examples         | Number Type            |
|------------------|------------------------|
| 1, 2, 100, -100  | Integer                |
| 1.2,-0.5,2e2,3E2 | Floating Point Numbers |

### Basic Arithmetic

In [13]:
# Addition
2 + 1

3

In [14]:
# Subtraction
2 - 1

1

In [15]:
# Multiplication
2 * 2

4

In [16]:
# Division
3 / 2

1.5

In [ ]:
# Floor Division
7 // 4

In [ ]:
# Modulo
7 % 4

In [20]:
# Powers
2 ** 13

8192

In [ ]:
# Can use parentheses to specify orders
(2+10) * (10+3)

### Variable Assignment

In [21]:
# Let's create an object called "x" and assign it the number 5
x = 20

In [22]:
# Adding the objects
x + x

40

In [26]:
# Reassignment
x = 30
x = x + x

### Rules for naming variables

1. Names can not start with a number.
2. There can be no spaces in the name, use _ instead.
3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
4. It's considered best practice (PEP8) that names are lowercase.
5. Avoid using words that have special meaning in Python like "list" and "str"

### Dynamic Typing

In [27]:
num = 2
num

2

In [28]:
num = "This is a number"
num

'This is a number'

### Determining type of variable

Python provides a build in function called `type` to check the type of variable.

In [29]:
x = 5
type(x)

int

In [30]:
y = 5.5
type(y)

float

In [31]:
t = (4, 5)
type(t)

tuple

### Some common data types are:
* int (for integer)
* float
* str (for string)
* list
* tuple
* dict (for dictionary)
* set
* bool (for Boolean True/False)

## Strings

Strings in Python are actually a sequence, used to record textual info.

In [32]:
# String using single quotes
'I am a string'

'I am a string'

In [33]:
# String using double quotes
"I am also a string"

'I am also a string'

In [34]:
# Be careful with quotes!
'I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-34-d4e01b799727>, line 2)

In [35]:
# You have to use the escape(\) binder
'I\'m using single quotes, but this won\'t create an error'

"I'm using single quotes, but this won't create an error"

#### Python provides a `print` method to print a string.

In [ ]:
print('Hello, Welcome to the workshop')

In [ ]:
print('This is an example how to use print method.\nI will be printed in next line because of \\n')

#### Python provides a `len` method to calculate the length of a string.

In [36]:
len('DATA2010 - Fall2021')

19

#### Indexing and Slicing in Strings

In [16]:
# Assign s as a string
s = 'Hello World'

In [17]:
s

'Hello World'

In [9]:
# Show first element (in this case a letter)
s[0]

'H'

#### *We use `:` to perform Slicing*

In [ ]:
# Grab everything past the first term all the way to the length of s which is len(s) However there's no change in s
s[1:]

In [ ]:
# Grab everything UP TO the 3rd index
s[:3]

In [ ]:
# What if we done provide any index in slicing?

s[:]

#### Python also supports Negative Indexing

In [ ]:
#Last letter (one index behind 0 so it loops back around)
s[-1]

#### Grab everything but the last letter

In [ ]:
s[:-1]

#### Step size in Slicing. Grab everything, but go in step sizes of 2

In [ ]:
s[::2]

#### Reverse a string

In [ ]:
s[::-1]

## String Properties
### *String are Immutable !*
Immutability may be used to ensure that an object remains constant throughout your program. The values of mutable objects can be changed at any time and place, whether you expect it or not.

In [18]:
#Concate Strings

s = s + ' concatenate me!!'

In [19]:
s

'Hello World concatenate me!!'

In [14]:
# String Multiplication


label = 'p'
label * 5

'ppppp'

## String Methods

#### *Upper Case*

Python has a build in method `upper` to get uppercase of a string.

In [15]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!! CONCATENATE ME!!'

> Note these methods don't change the original string!

In [ ]:
s

In [20]:
s.lower()

'hello world concatenate me!!'

### Split
Extract words from string

In [21]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!!']

In [22]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!!']

## String Formatting

String formatting lets you inject items into a string rather than trying to chain items together.

In [23]:
player = 'Thomas'
points = 33

In [24]:
'Last night, '+player+' scored '+str(points)+' points.'  # concatenation

'Last night, Thomas scored 33 points.'

In [25]:
f'Last night, {player} scored {points} points.'          # string formatting

'Last night, Thomas scored 33 points.'

> There are **three ways** to perform string formatting.

1. The oldest method involves placeholders using the modulo % character.
2. An improved technique uses the .format() string method.
3. The newest method, introduced with Python 3.6, uses formatted string literals, called f-strings.

#### First Method* using **%**

In [ ]:
print("I'm going to inject %s here." %'something')

In [ ]:
x, y = 'some', 'more'
print("I'm going to inject %s text here, and %s text here."%(x,y))

#### *Second Method* using **.format()**

In [ ]:
print('This is a string with an {}'.format('insert'))

In [ ]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

#### *Third Method* using **f-strings**

In [ ]:
name = 'Asif'

print(f"He said his name is {name}.")

# List

List is an ordered sequence of elements.

In [26]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

#### Unlike strings, they are **mutable**, meaning the elements inside a list can be changed!

In [27]:
my_list[1] = 5
my_list

[1, 5, 3]

#### We just created a list of integers, but lists can actually hold different object types

In [28]:
my_list = ['A string',23,100.232,'o']
my_list

['A string', 23, 100.232, 'o']

#### Just like strings, list also has `len` to find length of string.

In [29]:
my_list = ['This', 'is', 'a', 'DATA2010', 'Lab']
len(my_list)

5

## Indexing and Slicing in List

Indexing and slicing work just like in strings.

In [30]:
my_list = ['one','two','three',4,5]
my_list

['one', 'two', 'three', 4, 5]

In [31]:
# Grab element at index 0
my_list[0]

'one'

In [ ]:
# Grab index 1 and everything past it
my_list[1:]

#### We can also use **+** to concatenate lists, just like we did for strings.

In [32]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [33]:
my_list

['one', 'two', 'three', 4, 5]

In [34]:
my_list2 = my_list + ['new item']

In [35]:
my_list2

['one', 'two', 'three', 4, 5, 'new item']

> **Note**: *This doesn't actually change the original list!*

#### We can also use the * for a duplication method similar to strings:

In [ ]:
# Make the list double
my_list * 2

## List Methods

***append***
> Add an item to the end of the list

In [36]:
# Append
my_list.append('append me!')
my_list

['one', 'two', 'three', 4, 5, 'append me!']

***pop***
> Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list.

In [37]:
# Pop off the 0 indexed item
my_list.pop(0)

'one'

In [38]:
# Assign the popped element, remember default popped index is -1
popped_item = my_list.pop()
popped_item

'append me!'

***reverse***
> Reverse the elements of the list in place.

In [39]:
new_list = ['a','e','x','b','c']

In [40]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()
new_list

['c', 'b', 'x', 'e', 'a']

***sort***
> Sort the items of the list in place

In [ ]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

new_list

## Nested List

In [41]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

In [42]:
# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]


matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# Grab first item in matrix object
matrix[0]

## List Comprehension

In [ ]:
nums = [1, 2, 3, 4]

squares = [ n * n for n in nums ]  


squares

# Dictonary

Dictionary in Python is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds **key:value** pair.

Dictonaries are like Hash Tables used in other languages.

In [43]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [44]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [45]:
# Call values by their key
my_dict['key2']

'value2'

#### Its important to note that dictionaries are **very flexible** in the data types they can hold.

In [ ]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
# Let's call items from the dictionary
my_dict['key3']

In [ ]:
# Can call an index on that value
my_dict['key3'][0]

> To see the power and flexibility of Python lets see nested dictonaries

In [46]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}


#### Let's see how we can grab that value:

In [47]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

## Dictonary Methods

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# Method to return a list of all keys 
d.keys()

In [ ]:
# Method to grab all values
d.values()

In [ ]:
# Method to return tuples of all items
d.items()

# Tuples

In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed.

The construction of a tuples use () with elements separated by commas.

In [48]:
# Create a tuple
t = (1,2,3)

t

(1, 2, 3)

In [ ]:
# Check len just like a list

len(t)

> *Can also **mix object types***

In [49]:
t = ('one',2)

# Show
t

('one', 2)

#### *Use **indexing** just like we did in lists*

In [ ]:
t[0]

#### ***Slicing** just like a list*

In [ ]:
t[-1]

## Tuple Methods

Tuple has two built-in methods.

#### ***index***

In [ ]:
# Use .index to enter a value and return the index
t.index('one')

***count***

In [50]:
# Use .count to count the number of times a value appears
t.count('one')

1

### Tuples are Immutable!

In [ ]:
t[0]= 'change'

> Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

In [ ]:
t.append('nope')

## Use of Tuple

If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.

### Sets
Sets are an unordered collection of unique elements.

In [51]:
x = set()

# We add to sets with the add() method
x.add(1)

#Show
x

{1}

In [54]:
# Add a different element
x.add(1)

# Try to add the same element
x.add(2)


#Show
x

{1, 2, 3}

> **Notice** how it won't place another 1 there. That's because a set is only concerned with unique elements!

We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [ ]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]


# Cast as set to get unique values
set(list1)

## Booleans

In [ ]:
# Boolean values are primitives (Note: the capitalization)
True  # => TRUE
False  # => False

In [ ]:
# negate with not
not True   # => False
not False  # => True

In [ ]:
# Boolean Operators
True and False  # => False
False or True   # => Truev

> Note "and" and "or" are case-sensitive

## Operators

#### Operators are special symbols in python that carry out arthimetic and logical operations.

### Operator Types

1. Arithmetic Operators
2. Comparison Operators
3. Logical Operators
4. Bitwise Operators
5. Assignment Operators
6. Special Operators

#### Arithmetic Operators

In [55]:
x = 15
y = 6

# Addition Operator
print('x + y = ', x + y)
#print(x+y)

# Subtraction Operator
print('x - y = ', x - y)

# Multiplication Operator
print('x * y = ', x * y)

# Division Operator
print('x / y = ', x / y) # True Division
print('x // y =', x//y) # Class Division

# Exponential Operator
print('x ** y = ', x ** y)

21
x - y =  9
x * y =  90
x / y =  2.5
x // y = 2
x ** y =  11390625

#### Comparison Operators

In [ ]:
x = 12
y = 10

# Greater Than Operator
print('x > y = ',x > y)

# Greater Than or Equal To
print('x >= y', x >= y)

# Lesser Than Operator
print('x < y = ',x < y)

# Lesser Than or Equal To
print('x <= y', x <= y)

# Equal To Operator
print('x == y ',x == y)

# Not Equal To
print('x != y', x != y)

#### Logical Operators
<pre>
and - True if both operands are true
or - True if one of the operand is true
not - True if operand is false 
</pre>

#### Bitwise Operators
<pre>
& -> Bitwise AND
| -> Bitwise OR
~ -> Bitwise NOT
^ -> Bitwise XOR
>> -> Bitwise Right Shift
<< -> Bitwise Left Shift
</pre>

In [ ]:
x = 10
y = 4

# Bitwise AND
print('x & y = ', x & y)
# Bitwise OR
print('x | y = ', x | y)
# Bitwise NOT
print('~ x = ', ~ x)
# Bitwise XOR
print('x ^ y = ', x ^ y)
# Right shift
print('x >> y = ', x >> y)
# Left Shift
print('x << y = ', x << y)

#### Assignment Operators

In [ ]:
a = 5
print(a)
a += 5 # a = a + 5
print(a)
a -= 5 # a = a - 5 
print(a)
a *= 5 # a = a * 5
print(a)
a /= 5 # a = a / 5
print(a)
a //= 2 # a = a // 2
print(a)
a %= 1 # a = a % 1
print(a)
a = 10
a **= 2 # a = a ** 2
print(a)

###### Identity Operators

 <pre>
 is - True if the operands are identical
 is not - True if the operands are not identical
 </pre>

In [ ]:
x1 = 2
y1 = 2
x2 = 'Hello'
y2 = "Hello"
x3 = [1,2,3]
y3 = (1,2,3)

print('x1 is y1 = ', x1 is y1)
print('x1 is y2 = ', x1 is y2)
print('x3 is not y3 = ', x3 is not y3)

###### Membership Operators
<pre>
    in - True if value / variable is found in sequence
    not in - True if value / variable is not found in the sequence
</pre>

In [ ]:
x = 'Hello World'
y = {1:'a',2:'b'}

print("'H' in x ", 'H' in x)
print('hello not in x ','hello' not in x)
print('1 in y = ',1 in y)
print('a in y = ',a in y)

## Functions

* Function is a group of related statements that perform a specific task.
* Function help break large programs into smaller and modular chunks
* Function makes the code more organised and easy to manage
* Function avoids repetition and there by promotes code reusability

#### Two types of functions
1. Built-In Functions
2. User Defined Functions

### Function Syntax
```python
def function_name(arguments):
    '''This is the docstring for the function'''
    # note the indentation, anything inside the function must be indented
    # function code goes here
    ...
    return
    
# calling the function
function_name(arguments)
```

In [56]:
# Simple Function
def greet():
    '''Simple Greet Function'''
    print('Hello World')
    
greet()

Hello World

In [59]:
# Function with arguments
def greet(name):
    '''Simple Greet Function with arguments'''
    print('Hello ', name)
    
greet('DATA')

Hello  DATA

In [60]:
# Function with return statement
def add_numbers(num1,num2):
    return num1 + num2

print(add_numbers(2,3.0))

5.0

In [61]:
# Since arguments are not strongly typed you can even pass a string
print(add_numbers('Hello','World'))

HelloWorld

### Scope and Lifetime of Variables
Variables in python has local scope which means parameters and variables defined inside the function is not visible from outside.

Lifetime of a variable is how long the variable exists in the memory. Lifetime of variables defined inside the function exists as long as the function executes. They are destroyed once the function is returned.

In [62]:
def myfunc():
    x = 5
    print('Value inside the function ',x)
    
x = 10
myfunc()
print('Value outside the function',x)

Value inside the function  5
Value outside the function 10

In [63]:
def myfunc():
    #x = 5
    print('Value inside the function ',x)
    
x = 10
myfunc()
print('Value outside the function',x)

Value inside the function  10
Value outside the function 10

##### Global Variable
Variables declared inside the function are not available outside. The following example will generate an error.

In [ ]:
def myfunc():
    y = 5
    print('Value inside the function ',y)
    
myfunc()
print('Value outside the function',y)

In [ ]:
def myfunc():
    global z
    z = 5
    print('Value inside the function ',z)
    
#z = 10
myfunc()
print('Value outside the function',z)

# Now let's play with Pandas and Numpy