## Data Analysis Practise using basic Pandas and Numpy

``` Basic Data Analysis using the "IRIS" dataset. Complete each cell and compare your ouput with the one provided after each cell. Instructions are given to guide your analysis```

# Importing dataset

In [6]:
import pandas as pd

iris_data = pd.read_csv('iris.csv')
iris_data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

# Importing relevant libraries

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
sns.set()

# Gaining information from data

![The output should look like this](1.png "The output should look like this")

In [7]:
#Complete the cell

# Data Insights:
1. All columns are not having any Null Entries
2. Four columns are numerical type
3. Only Single column categorical type

# Statistical Insight

In [9]:
#Complete the cell

# Checking For Duplicate Entries

In [ ]:
#Complete the cell

# Checking the no of counts

In [ ]:
#Complete the cell

# Data Visualization

## Species count

In [9]:
iris['species'].value_counts()

Versicolor    50
Setosa        50
Virginica     50
Name: species, dtype: int64

# Uni-variate Analysis
Comparison between various species based on sepal length and width

In [11]:
#Complete the cell

## Comparison between various species based on petal length and width

In [ ]:
#Complete the cell

## Bi-variate Analysis

In [ ]:
#Complete the cell

## Checking Correlation

In [ ]:
#Complete the cell

## Checking Mean & Median Values for each species

In [ ]:
#Complete the cell

## Box plots to know about distribution
boxplot to see how the categorical feature “Species” is distributed with all other four input variables

In [ ]:
#Complete the cell

## Violin Plot for checking distribution
The violin plot shows density of the length and width in the species. The thinner part denotes that there is less density whereas the fatter part conveys higher density

In [ ]:
#Complete the cell

## Plotting the Histogram & Probability Density Function (PDF)
plotting the probability density function(PDF) with each feature as a variable on X-axis and it’s histogram and corresponding kernel density plot on Y-axis.

In [ ]:
#Complete the cell

## Choosing Plot 3 (Classification feature as Petal Length)to distinguish among the species

In [ ]:
#Complete the cell